/* .btn-tbl {
    /* margin-top: -1px !important;
    margin-bottom: -1px !important; */

/* border: 1px solid #4285f4 !important */
/* } */

/* table.table th, */
table.table td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    /* vertical-align: top; */
    vertical-align: baseline;
}

.alert-danger {
    background-color: #ff365410 !important;
    color: #ff3655 !important;
}

.alert {
    font-size: 12px;
}

.card-cs {
    box-shadow: none !important;
    border: 1px solid #c5c5c5;
}

.btn {
    box-shadow: none !important;
    border-radius: 5px;
    text-transform: none !important;
}

.btn:hover {
    box-shadow: none !important;
}

.navbar .dropdown-menu a {
    font-weight: 400 !important;
    color: #202020 !important;
}

.card {
    border-radius: 0.25rem !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(214, 214, 214, 0.11),
        0 2px 10px 0 rgba(214, 214, 214, 0.11);
    box-shadow: 0 1px 2px 0 rgba(214, 214, 214, 0.11),
        0 2px 10px 0 rgba(214, 214, 214, 0.11) !important;
}

.page-title h4 {
    font-size: 19px !important;
    color: #4b4b5a;
}

.icon-dual {
    fill: rgba(75, 75, 90, 0.12);
    width: 50px;
}

.bg-icon {
    color: #5369f8;
    background-color: #5369f815;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: relative;
}

.bg-icon svg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-akun {
    color: #5369f8;
    fill: #5369f81e;
}

.text-muted {
    color: #6c757d !important;
}

.p-sm {
    font-size: 13px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b4b5a;
}

.text-w {
    color: #fff;
}

.text-b {
    color: #000;
}

.dropdown .dropdown-menu,
.dropup .dropdown-menu,
.dropleft .dropdown-menu,
.dropright .dropdown-menu {
    margin-top: 15px !important;
}

.side-nav {
    box-shadow: none !important;
    border-right: 0.5px solid#e4e4e4;
}

.light-blue-skin .navbar {
    background-color: #fff !important;
    border-bottom: 0.5px solid #e4e4e4;
}

.navbar {
    box-shadow: none !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(90, 90, 90, 0.6);
    background-color: #f3f4f7 !important;
}

.modal-header {
    padding: 0.5rem 1rem !important;
}

option {
    font-size: 12px !important;
    /* font-weight: 5px !important; */
    color: #757575 !important;
}

.custom-select {
    font-size: 16px !important;
    /* font-weight: 300 !important; */
}

.btn-outline-info-tbl {
    color: #1ed646 !important;
    background-color: #fff !important;
    border: 2px solid #1ed646 !important;
}

.btn-outline-dark-tbl {
    color: #525252 !important;
    background-color: #fff !important;
    border: 2px solid #9c9c9c !important;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px !important;
}

.btn-outline-info-tbl:hover,
.btn-outline-info-tbl:focus,
.btn-outline-info-tbl:active,
.btn-outline-info-tbl:active:focus,
.btn-outline-info-tbl.active {
    color: #33b5e5 !important;
    background-color: #fff !important;
    border-color: #33b5e5 !important;
}

.btn-outline-info-tbl:not([disabled]):not(.disabled):active,
.btn-outline-info-tbl:not([disabled]):not(.disabled).active,
.show>.btn-outline-info-tbl.dropdown-toggle {
    background-color: #fff !important;
    border-color: #33b5e5 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outline-info-tbl:not([disabled]):not(.disabled):active:focus,
.btn-outline-info-tbl:not([disabled]):not(.disabled).active:focus,
.show>.btn-outline-info-tbl.dropdown-toggle:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outline-danger-tbl {
    color: #ff3547 !important;
    background-color: #fff !important;
    border: 2px solid #ff3547 !important;
}

.btn-outline-danger-tbl:hover,
.btn-outline-danger-tbl:focus,
.btn-outline-danger-tbl:active,
.btn-outline-danger-tbl:active:focus,
.btn-outline-danger-tbl.active {
    color: #ff3547 !important;
    background-color: #fff !important;
    border-color: #ff3547 !important;
}

.btn-outline-danger-tbl:not([disabled]):not(.disabled):active,
.btn-outline-danger-tbl:not([disabled]):not(.disabled).active,
.show>.btn-outline-danger-tbl.dropdown-toggle {
    background-color: #fff !important;
    border-color: #ff3547 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outline-danger-tbl:not([disabled]):not(.disabled):active:focus,
.btn-outline-danger-tbl:not([disabled]):not(.disabled).active:focus,
.show>.btn-outline-danger-tbl.dropdown-toggle:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.p-custom {
    margin-bottom: 4px !important;
    font-size: 13px;
}

.status {
    /* background-color: #33b5e5; */
    /* padding: 3px; */
    /* margin: 0rem; */
    /* padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem; */
    border-radius: 5px;
    color: #fff;
    padding: 0.2rem 0.34rem;
    /* margin: 4px; */
    margin-bottom: 5px;
    margin-top: 5px;
    /* display: inline-block; */
    display: flex;
    font-size: 12px;
    font-weight: 400;
}

.bg-warning {
    background-color: rgb(255, 166, 0);
}

.bg-danger {
    background-color: rgb(255, 38, 0);
}

.bg-info {
    background-color: rgb(0, 195, 255);
}

.custom-p p {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-size: 13px !important;
    color: #000000;
}

.custom-p2 p {
    font-weight: 500;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-size: 13px !important;
    color: #0f67cc;
}

.ml-6 {
    margin-left: 6rem;
}

.link-danger {
    color: #000000;
}

.link-danger:hover {
    color: #e41616;
}

.link-warning {
    color: #000000;
}

.link-warning:hover {
    color: #f8be00;
}

.link-success {
    color: #000000;
}

.link-success:hover {
    color: #00bd48;
}

.link-primary:hover {
    color: #0058bd;
}

.link-primary {
    color: #000000;
}

.custom-p li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px !important;
    color: #000000;
}

.custom-hr hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#hide1 {
    display: none;
}

.bg1 {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgc {
    /* background-color: #2c2c2c; */
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.7;
    position: absolute;
}

.checkbox {
    padding-left: 20px;
    padding-right: 10px;
}

.alert-timer {
    color: inherit;
    font-size: 12px;
}

.bg-tbl-warning {
    background-color: #fff3cd;
    color: #856404;
}

.bg-tbl-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.bg-tbl-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.status-kirim {
    font-size: 14px;
    color: #575757;
}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown-toggle i {
    color: #c9c9c9;
}

.status-kirim i {
    font-size: 12px;
    padding-left: 16px;
    color: #c5c5c5;
}

.text-menunggu {
    color: #0e88b4;
}

.text-revisi {
    color: rgb(255, 173, 10);
}

.text-valid {
    color: rgb(19, 207, 82);
}

.text-orange {
    color: #f0ad1cfa;
}

.bg-orange {
    background-color: #f0ad1cfa;
}

.bg-valid {
    background-color: #00bd48;
}

.bg-revisi {
    background-color: #c52b10;
}

.ket {
    margin-bottom: -1px;
    font-size: 12px;
}

.bg-kegiatan {
    background-color: rgb(219, 219, 219);
}

.bg-subkegiatan {
    background-color: rgb(238, 238, 238);
}

.bg-itemkegiatan {
    background-color: rgb(252, 252, 252);
}

.checkbox label {
    display: inline-block;
    position: relative;

    font-size: 0.7em;
}

.btn-note span {
    font-size: 0.7em;
}

.btn-note {
    padding-left: 2px;
    color: #d2d9e7;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    right: 0.4rem;
    margin-top: -0.25rem;
}

.dropdown-item i {
    color: #cfcfcf;
}

.side-nav .logo-sn {
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* background-color: #3699FF; */
}

.side-nav .logo-sn img {
    height: 60px;
}

.side-nav .search-form input[type="text"] {
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body.bg-content {
    background-color: #f3f4f7;
}

.accordion .card {
    margin-bottom: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.accordion .card .card-body {
    border-top: 1px solid #eee;
}

.bold {
    font-weight: 600;
}

.soal-bold {
    font-weight: 400;
}

.bolder {
    font-weight: 800;
}

.w-4 {
    font-weight: 400 !important;
}

.w-5 {
    font-weight: 500 !important;
}

.w-6 {
    font-weight: 600 !important;
}

.w-7 {
    font-weight: 700 !important;
}

.w-8 {
    font-weight: 800 !important;
}

.icon-mulai {
    font-size: 40px;
}

.alert-judul {
    background-color: #00adef !important;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 18px;
}

.table .mulai-ujian tr th {
    font-size: 15px;
    font-weight: 600;
}

.alert-sm {
    position: relative;
    padding: 0.35rem 1.05rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #d6d6d6;
}

.text-blue {
    color: #0058bd;
}

.bg-blue {
    background-color: rgb(243, 243, 243);
    height: 100vh;
    margin-left: 0px !important;
}

.bg-body {
    background-color: rgb(243, 243, 243);
}

.bg-blues {
    background-color: #bd4c00;
    height: 100vh;
    position: fixed;
}

.nav-white {
    background-color: #ffffff !important;
}

.konten {
    margin-top: 50px;
}

.bg-jawaban {
    background-color: #0058bd;
}

.hidden {
    display: none;
}

.pilihan {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 15px 20px;
}

.pilihan-t {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    padding: 15px 20px;
    /* border-top: 1px solid #aaaaaa; */
}

.tombol-jawaban {
    padding: 0.7px 15px;
    margin-right: 14px;
    border: 1.5px solid#2e49f7;
    border-radius: 5px;
    color: #2e49f7;
    background-color: #fff;
    font-weight: 500;
}

.tombol-jawaban.cs {
    margin-right: 0px;
}

.tombol-jawaban:hover {
    background-color: #2e49f7;
    color: #ffffff;
    cursor: pointer;
}

.tombol-jawaban.active {
    background-color: #2e49f7;
    color: #ffffff;
}

.my-custom-scrollbar {
    /* height: 200px;
    width: 100%; */
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
    z-index: 1040;
}

.scrollable {
    height: 100vh;
    overflow-y: auto;
    padding: 80px 20px;
}

.scrollable-pilihan {
    height: 100%;
    overflow-y: auto;
    padding: 15px 15px;
}

.scrollable-pilihan1 {
    height: 100%;
    overflow-y: auto;
}

.icon-akun-ujian {
    font-size: 70px;
    color: #b2b4c0;
}

.card-header {
    background-color: rgb(255, 255, 255) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.nomor-ujian {
    font-weight: 500 !important;
    color: #272727;
    padding-top: 10px;
    font-size: 15px;
}

.nama-peserta {
    font-weight: 500 !important;
    font-size: 14px;
    color: rgb(32, 32, 32);
}

.nama-ujian {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.ket {
    font-size: 10px;
    padding-bottom: 6px;
}

.tombol-nomor {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* -webkit-box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.11), 0 2px 10px 0 rgba(170, 170, 170, 0.11);
    box-shadow: 0 1px 2px 0 rgba(170, 170, 170, 0.11), 0 2px 10px 0 rgba(170, 170, 170, 0.11) !important; */
    border: 1px solid #2e49f7;
}

.input-group-text-cs {
    background-color: #fff !important;
    padding: 0px !important;
    width: 45px !important;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}

.input-group-text-cs i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hide1 {
    display: none;
}

.tombol-nomor:hover {
    background-color: #ee141e;
    color: #ffffff;
    cursor: pointer;
}

.tombol-nomor-active {
    background-color: #2e49f7;
    color: #ffffff;
}

.tombol-nomor-active-hover {
    background-color: #ee141e;
    color: #ffffff;
}

/* ul {
    list-style-type: upper-alpha;
} */

.card-custom {
    width: 100% !important;
}

.card-logo {
    background-color: #2e49f7;
    padding: 20px;
}

.card-ket {
    padding: 20px 35px;
    color: #1d1d1d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #e0e0e0;
}

.card-ket li {
    font-size: 12px;
}

.btn-bg-custom {
    background-color: #2e49f7;
    color: #fff !important;
}

.btn-bg-custom:hover {
    background-color: #2e49f7;
}

.btn-custom {
    background-color: transparent !important;
    border: 1.5px solid #777777;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-dash i {
    color: #00adef;
    font-size: 30px;
}

.card-dash h1 {
    color: #0058bd;
    font-weight: bold;
    font-size: 25px;
}

.text-red {
    color: #d1341f !important;
}

.text-blue {
    color: #1f4ed1 !important;
}

.list-custom li p {
    margin-bottom: 7px !important;
    margin-top: 15px;
}

.list-custom li {
    list-style: upper-alpha;
    font-weight: 500;
}

.list-custom li p i {
    color: #adadad !important;
}

.list-custom li .judul {
    padding-top: 5px;
}

.btn-disable {
    background-color: #95b9d8 !important;
    cursor: default !important;
}

.navbar-custom {
    display: inline-block;
}

.nmr-soal {
    background-color: #ffffff;
    padding: 1px;
    color: #1b1b1b;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.11),
        0 2px 10px 0 rgba(170, 170, 170, 0.11);
    box-shadow: 0 1px 2px 0 rgba(170, 170, 170, 0.11),
        0 2px 10px 0 rgba(170, 170, 170, 0.11) !important;
}

.nmr-soal-cs {
    /* background-color: #ffffff; */
    padding: 1px;
    color: #1b1b1b;
    border-radius: 5px;
    text-align: center;
    /* -webkit-box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.11), 0 2px 10px 0 rgba(170, 170, 170, 0.11);
    box-shadow: 0 1px 2px 0 rgba(170, 170, 170, 0.11), 0 2px 10px 0 rgba(170, 170, 170, 0.11) !important; */
}

.tbl-custom thead tr th {
    font-weight: 600 !important;
    font-size: 17px !important;
}

.tbl-custom tbody tr td {
    font-size: 17px !important;
    font-weight: 400 !important;
}

.tbl-pengawas .judul {
    font-weight: 500 !important;
    background-color: #f5f5f5;
}

.tbl-pengawas th {
    font-size: 15px !important;
}

.card-border {
    padding: 10px 30px;
    /* border: 1px solid #0058bd; */
    margin-top: 30px;
}

.card-border h5 {
    font-weight: 600 !important;
}

.card-border h1 {
    color: #0058bd !important;
    font-size: 55px;
}

.breadcrumb li {
    color: #838383 !important;
    /* font-weight: 500; */
    font-size: 13px;
    font-weight: 500;
}

.input-group-text {
    background-color: transparent !important;
    /* border: none !important; */
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.link-edit:hover {
    background-color: #ffa000 !important;
}

.link-edit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: #0058bd85;
    border-bottom-left-radius: 40px;
    align-items: center;
    text-align: center;
    border-top-right-radius: 4px;
}

.link-edit i {
    color: #fff;
    font-size: 13px;
}

/* tutorial */

.kontent .container-fluid {
    position: absolute;
}

.kontent {
    position: absolute;
    z-index: 1045;
    width: 100%;
    height: 100%;
    background-color: #111111d0;
}

.title-tutorial-1 {
    color: #fff;
    padding-top: 180px;
    font-weight: 400;
    /* width: 50%; */
    font-size: 16px;
    /* margin-left: 20%; */
}

.title-tutorial-1 h1 {
    font-size: 40px !important;
    font-weight: 500 !important;
}

.title-tutorial-2 {
    color: #fff;
    /* padding-top: 15%; */
    padding-top: 150px;
    font-weight: 400;
    /* width: 50%; */
    font-size: 16px;
    /* margin-left: 20%; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-3 {
    color: #fff;
    /* padding-top: 15%; */
    padding-top: 190px;
    font-weight: 400;
    /* width: 50%; */
    font-size: 16px;
    margin-left: -40px;
    display: none;
}

.title-tutorial-4 {
    color: #fff;
    padding-top: 340px;
    font-weight: 400;
    font-size: 16px;
    /* margin-left: -40px; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-5 {
    color: #fff;
    padding-top: 120px;
    font-weight: 400;
    font-size: 16px;
    /* margin-left: -40px; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-6 {
    color: #fff;
    padding-top: 120px;
    font-weight: 400;
    font-size: 16px;
    /* margin-left: -40px; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-7 {
    color: #fff;
    padding-top: 400px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 100px;
    /* margin-left: -40px; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-8 {
    color: #fff;
    padding-top: 400px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 100px;
    /* margin-left: -40px; */
    /* visibility: hidden; */
    display: none;
}

.title-tutorial-9 {
    color: #fff;
    padding-top: 200px;
    font-weight: 400;
    /* width: 50%; */
    font-size: 16px;
    /* margin-left: 20%; */
    display: none;
}

.title-tutorial-9 h1 {
    font-size: 40px !important;
    font-weight: 500 !important;
}

.btn-tutorial {
    background-color: transparent !important;
    color: #16773b;
    border: 1.5px solid #16773b !important;
}

.btn-tutorial:hover {
    background-color: #16773b !important;
    border: 1.5px solid #16773b !important;
    color: #fff !important;
}

.tutorial-1 {
    z-index: 1050 !important;
    position: absolute !important;
    /* background-color: #fff; */
    width: 100%;
    /* visibility: hidden; */
}

.tutorial-1 img.panah {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -80px;
    width: 100px;
    /* visibility: hidden; */
}

.tutorial-2 {
    z-index: 1050 !important;
    position: absolute !important;
    /* visibility: hidden; */
    display: none;
    width: 100%;
    bottom: 0;
}

.tutorial-2 img.img-line {
    position: absolute;
    top: -50px;
    right: 0;
    margin-right: -20px;
    width: 100px;
}

.tutorial-3 {
    z-index: 1050 !important;
    position: absolute !important;
    display: none;
    width: 100%;
}

.tutorial-3 img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100px;
    margin-left: 100px;
    width: 100px;
}

.tutorial-4 {
    z-index: 1045 !important;
    position: absolute !important;
    display: none;
    width: 100%;
    margin-top: 53px;
}

.tutorial-4 img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -80px;
    /* margin-right: -100px; */
    /* margin-left: 250px; */
    width: 100px;
}

.tutorial-5 {
    z-index: 1045 !important;
    position: absolute !important;
    display: none;
    left: 70px;
    top: -9px;
}

.tutorial-5 img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -70px;
    margin-right: -50px;
    width: 100px;
}

.tutorial-6 {
    z-index: 1045 !important;
    position: absolute !important;
    display: none;
    left: -10px;
    top: -10px;
}

.tutorial-6 img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -50px;
    margin-bottom: -70px;
    width: 100px;
}

.tutorial-7 {
    z-index: 1045 !important;
    position: absolute !important;
    display: none;
    padding: 5px;
    left: -2px;
    margin-left: 17px;
    margin-top: -5px;
    padding-top: -100px;
    background-color: #fff;
}

.tutorial-7 img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -120px;
    width: 100px;
}

.tutorial-8 {
    z-index: 1045 !important;
    position: absolute !important;
    display: none;
    padding: 5px;
    margin-left: -2px;
    margin-top: -5px;
    /* margin-left: 10px !important; */
    padding-top: -100px;
    background-color: #fff;
}

.tutorial-8 img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -120px;
    width: 150px;
}

.fadeIn {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-body-cs {
    padding: 2px 10px !important;
}

.fixed-cs {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1045;
}

.tutorial-cs {
    /* background-color: #fff; */
    padding: 0.5rem 1rem;
    margin: 0px 0px !important;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.12); */
}

.custom-file-label-cs::after {
    background-color: #0058bd11;
    color: #0058bd !important;
}

/* .opsi {
    font-weight: 600;
    color: #0058bd;
    font-size: 15px;
} */

.tb-custom tbody tr td.number {
    width: 30px;
    vertical-align: top;
}

.tb-custom tbody tr td {
    font-size: 14px;
}

.badge-csb {
    background-color: #5369f8 !important;
}

.badge-csw {
    background-color: #fff !important;
    color: #5369f8 !important;
    border: 1px solid#5369f8;
}

.form-check-input[type="checkbox"]:checked+label::before,
label.btn input[type="checkbox"]:checked+label::before {
    border-right: 3px solid #00adef !important;
    border-bottom: 3px solid #00adef !important;
}

/* style halaman pilihan */
.title-pilihan h5 {
    font-weight: 600;
    font-size: 35px;
    color: #1976d2;
}

.title-pilihan p.sub {
    font-size: 23px;
    color: #1976d2;
    font-weight: 400;
}

.title-pilihan p {
    font-size: 18px;
    line-height: 35px;
}

.my-custom-scrollbar {
    /* height: 200px;
    width: 100%; */
    position: relative;
    width: 100%;
    height: 260px;
    overflow: auto;
}

.foter-pilihan p {
    font-weight: 500;
    color: #0058bd;
}

@media (min-width: 576px) {
    .img-pilihan {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .img-pilihan {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .img-pilihan {
        width: 100%;
    }
}

@media (min-width: 1300px) {
    .img-pilihan {
        width: 120%;
        margin-right: -30px;
    }
}

.custom-radio {
    font-size: 17px;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    color: #fff;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.bg-card-red {
    background-color: #ac1b2e;
    color: #fff;
}

.thin {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.btn-success-cs:hover {
    background-color: #1bc5bd;
    color: #fff;
}

.btn-success-cs {
    background-color: #f3f6f9;
    color: #1bc5bd;
}

.btn-warning-cs:hover {
    background-color: #ffa800;
    color: #fff;
}

.btn-warning-cs {
    background-color: #f3f6f9;
    color: #ffa800;
}

.btn-danger-cs {
    background-color: #f3f6f9;
    color: #f64e60;
}

.btn-danger-cs:hover {
    background-color: #f64e60;
    color: #fff;
}

.btn-primary-cs {
    background-color: #f3f6f9;
    color: #3699ff;
}

.btn-primary-cs:hover {
    background-color: #3699ff;
    color: #fff;
}

.btn-info-cs {
    background-color: #3699ff;
    color: #fff !important;
}

.btn-info-cs:hover {
    background-color: #2d96ff;
}

.btn.btn-icon {
    padding: 0.3rem 0.6rem !important;
    font-size: 14px !important;
    border-radius: 0.42rem !important;
    font-weight: 500;
    /* margin-top: 0px !important;
    margin-bottom: 0px !important; */
    box-shadow: none;
}

.btn-icon-danger {
    color: #f64e60;
    background-color: #f3f6f9;
}

.btn-icon-danger:hover {
    color: #fff;
    background-color: #f64e60;
}

.btn-icon-warning {
    color: #f0a103;
    background-color: #f3f6f9;
}

.btn-icon-warning:hover {
    color: #fff;
    background-color: #f0a103;
}

.btn-icon-seccess {
    color: #0bb7af;
    background-color: #f3f6f9;
}

.btn-icon-seccess:hover {
    color: #fff;
    background-color: #0bb7af;
}

.btn-icon-primary {
    color: #3699ff;
    background-color: #f3f6f9;
}

.btn-icon-primary:hover {
    color: #fff;
    background-color: #3699ff;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.badge {
    border-radius: 0.5rem !important;
    padding: 0.6em 0.9em !important;
    box-shadow: none;
}

.badge-primary {
    color: #3699ff !important;
    background-color: #e1f0ff !important;
}

.badge-warning {
    color: #ffa800 !important;
    background-color: #fff4de !important;
}

.badge-success {
    color: #1bc5bd !important;
    background-color: #c9f7f5 !important;
}

.badge-danger {
    color: #f64e60 !important;
    background-color: #ffe2e5 !important;
}

.badge-dark {
    color: #303030 !important;
    background-color: rgb(230, 230, 230) !important;
}

.side-nav .collapsible .fas,
.side-nav .collapsible .fab {
    font-size: 1.1rem;
}
